### Java ###
*.class
*.jar
*.war
*.ear
*.ctxt

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
gen/

### Visual Studio Code ###
.vscode/

### Operating System ###
DStore
.DS_Store
Thumbs.db
desktop.ini

### Logs ###
*.log
logs/
temp/

### Docker ###
.docker/