spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/crm
    username: crm
    password: crm
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
